* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 950px;
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.header, .navbar-custom {
    background-color: #238ebd;
}

h2 {
    color: white;
}

.navbar-custom {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    margin-top: 10px;
}

.navbar-custom a {
    background-color: #238ebd;
}

.navbar-custom a:focus {
    outline: none;
}

.navbar-custom .navbar-nav li a {
    color: white;
}

.tab-pane {
    width: 100%;
    padding: 20px;
    margin: 20px auto;
    position: relative;
}


#icons > li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}

.home-text .name {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2em;
}
.home-text .about {
    font-size: 1.25em;
    font-weight: 300;
}

.tab-pane .content-title {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.25em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.portfolio-item {
    display: block;
    padding-top: 80px;
    padding-bottom: 80px;
}

.portfolio-col {
    display: inline-block;
    padding-bottom: 20px;
}


.portfolio-item img {
    width: 90%;
}

.description .name {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2em;
}

.description .about {
    font-size: 1.25em;
    font-weight: 300;
}

#footer {
    background-color: #238ebd;
    color: white;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#footer-text {
    overflow: hidden;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#footer-text > li {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
}